@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100;
    scroll-behavior: smooth;
    background-color: #484d5c;
    
    
}

.landing {
    width: 100%;
    height: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-color: black;
}

.landing .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.contents {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.contents h1 {
    font-family: 'Oswald', sans-serif;
    color: floralwhite;
    text-shadow: 0px 0px 100px #FFFFFF;
    font-size: 410%;
}
@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  h1 {
    animation: fadeIn 5s;
  }

    @media screen and (max-width: 400px) {
        .contents h1 {
            font-family: 'Oswald', sans-serif;
            color: #c0ccd4;
            text-shadow: 0px 0px 300px #000000;
            font-size: 300%;
        }
    }

.contents button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #c0ccd4;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #c0ccd4 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.contents button:hover {
    background-color: #c0ccd4;
    border: solid #c0ccd4 3px;
    color: black;
}
 
.stateDrop {
    margin-top: -50px;
    padding-right: 50px;
    margin-bottom: -150px
}

.stateDrop button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #c0ccd4;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #c0ccd4 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.stateDrop button:hover {
    background-color: #c0ccd4;
    border: solid #c0ccd4 3px;
    color: black;
}
 
.stateDrop button:active {
    background-color: #c0ccd4;
    border: solid #c0ccd4 3px;
    color: black;
}


.d-flex {
    padding-top: 80px;
}

.axis { 
    font: 12px sans-serif; 
    font-family: 'Montserrat', sans-serif;
    color: #c0ccd4;
    text-align: center;
    margin: auto;
}

.dropdown-menu{
    height:200px;
    overflow-y:auto;
}

.styledWidthClass {
    width: 100%;
    margin-top: -38px;
    margin-bottom: -150px;
    padding-left: 40px;
}

.slider {
    width: 100%;
}

.yearHeader {
    margin-top: -50px;
    margin-bottom: -150px
    padding-right: 20px;
}

.yearHeader button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #c0ccd4;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #c0ccd4 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.yearHeader button:hover {
    background-color: none;
    border: solid #c0ccd4 3px;
}
 
.stateHead {
    padding-right: 40px;
    margin-bottom: -120px;
    margin-top: -60px;
}

.yearHead {
    padding-right: 40px;
    margin-bottom: -120px;
    margin-top: -60px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: floralwhite;
    font-size: 36pt;

}

.container {
    margin-bottom: -40px !important;
}

.bar:hover {
    fill: #F56C4E;
  }

.compare {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 2px;
}

.compare button{
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #c0ccd4;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #c0ccd4 3px;
    text-transform: uppercase;
    text-decoration: none;
  }

  #graphic {
    margin-top: -50px;
  }

  .states :hover {
    fill: #484d5c;
    stroke: #c0ccd4;
  }

  .states :active {
    fill: white;
    stroke: #484d5c;
  }

  .state-borders {
    fill: none;
    stroke: #c0ccd4;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
  
  #graphic2 {
    padding-bottom: 150px;
  }

  .stateSlide {
    width: 50%;
    margin: auto;
  }

  table {
      margin: auto;
  }

  .stateSlide text {
    font-family: 'Oswald', sans-serif;
    color: floralwhite;
    font-size: 36pt;
    text-align: center !important;
    margin: auto;
  }

  .yearslide {
    text-align: center;
}

.tooltip {
  background: #c0ccd4;
  opacity: .1;
  border: 0;
  border-radius: 8px;
  font: 12px sans-serif; 
  font-family: 'Montserrat', sans-serif;
  color: #484d5c;
  font-weight: bold;
  height: 20px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}