@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100;
    scroll-behavior: smooth;
    background-color: #000000;
}

.landing {
    width: 100%;
    height: 100%;
    margin: auto;
    display: table;
    top: 0;
    background: url(./LandingBack.png) no-repeat 50% 50%;
    background-size: cover;

}

.landing .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.contents {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.contents h1 {
    font-family: 'Nunito', sans-serif;
    color: floralwhite;
    text-shadow: 0px 0px 300px #000000;
    font-size: 410%;
}
@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  h1 {
    animation: fadeIn 5s;
  }

    @media screen and (max-width: 400px) {
        .contents h1 {
            font-family: 'Nunito', sans-serif;
            color: #FF0000;
            text-shadow: 0px 0px 300px #000000;
            font-size: 300%;
        }
    }

.contents button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #FF0000;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #FF0000 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.contents button:hover {
    background-color: #FF0000;
    border: solid #FF0000 3px;
    color: black;
}
 
.stateDrop {
    padding-top: 30px;
    padding-bottom: 125px;
    padding-right: 20px;
}

.stateDrop button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #FF0000;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #FF0000 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.stateDrop button:hover {
    background-color: #FF0000;
    border: solid #FF0000 3px;
    color: black;
}
 
.stateDrop button:active {
    background-color: #FF0000;
    border: solid #FF0000 3px;
    color: black;
}

.yearDrop {
    padding-top: 30px;
    padding-bottom: 125px;
    padding-left: 20px;
    
}

.yearDrop button {
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    color: #FF0000;
    font-size: 135%;
    padding: 5px 20px;
    border: solid #FF0000 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.yearDrop button:hover {
    background-color: #FF0000;
    border: solid #FF0000 3px;
    color: black;
}
 
.yearDrop button:active {
    background-color: #FF0000;
    border: solid #FF0000 3px;
    color: black;
}
